#container {
  display: flex;
  flex-direction: column;
}

#chart {


  left: 0;
  right: 0;
  margin: auto;

}

#chartBar {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  margin-bottom: 5vh;
  user-select: none;

}

#gauges {
  left: 0;
  width: 40%;
}

#bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#stats {
  width: 45%;
  height: 40vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

#stats span {
  font-size: 6vh;
  color: #5ab1bb;
}

input[type="radio"] {
    display: none;
}

label {
  padding: 1vw;
  color: white;
  margin: 0px 1.6vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="radio"]:checked+label {
  background-color: #a5c882;
  border: 1vw solid #a5c882;
  border-radius: 2vw;
  padding: 0;
  color: #25283d;
}
