#container {
  display: flex;
  flex-direction: column;
}

#chart {
  width: 90%;
  height: 45vh;

  left: 0;
  right: 0;
  margin: auto;

  position: absolute;

}

#chartSection {
  position: relative;
  height: 42vh;
  width: 100vw;
}

#chartBar {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  margin-bottom: 5vh;
  user-select: none;

}

#gauges {
  visibility: hidden;

  position: absolute;
}

#bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#carasol {
  font-size: 4vh;
  position: fixed;
  top: 2vh;
  right: 5vw;
}

#stats {
  width: 45%;
  height: 40vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

#stats span {
  font-size: 6vh;
  color: #5ab1bb;
}

input[type="radio"] {
    display: none;
}

label {
  padding: 1vw;
  color: white;
  margin: 0px 1.6vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="radio"]:checked+label {
  background-color: #a5c882;
  border: 1vw solid #a5c882;
  border-radius: 2vw;
  padding: 0;
  color: #25283d;
}


