<app-topbar></app-topbar>

<div id='container'>


  <div id='chartSection'>
    <div id='chart'>
    </div>

    <div id='gauges'>
    </div>
  </div>

    <div id='chartBar'>
      <input type='radio' id='all' name='dateRange' checked>
      <label for="all">All</label>
      <input type='radio' id='ytd' name='dateRange'>
      <label for="ytd">YTD</label>
      <input type='radio' id='day' name='dateRange' >
      <label for="day">1D</label>
      <input type='radio' id='week' name='dateRange'>
      <label for="week">1W</label>
      <input type='radio' id='month' name='dateRange' > 
      <label for="month">1M</label>  
      <input type='radio' id='month6' name='dateRange' > 
      <label for="month6">6M</label>  
      <input type='radio' id='year' name='dateRange' > 
      <label for="year">1Y</label>
    </div>

      <div id='carasol'>
        <input type='radio' id='simple' name='carasol' checked (click)="showStat()">
        <label for="simple">Graph</label>
        <input type='radio' id='gauge' name='carasol' (click)="showGauge()">
        <label for="gauge">Gauge</label>
      </div>

    <div id='bottomSection'>
      <div id='stats'>
        <><div>Ambient Temp</div><span>{{this.Stats[0] | number}}</span>
        <div>Block Fuel Flow</div><span>{{this.Stats[1] | number}}</span>
        <div>Power</div><span>{{this.Stats[2] | number}}</span>
        <div>Temp</div><span>{{this.Stats[3] | number}}</span>
        <div>Degrad</div><span>{{this.Stats[4] | number}}</span>
      </div>

    </div>


</div>