a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

#bar {
  width: 30%;
  height: 5vh;
  color: #f7dd72;
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1vh;
  margin-bottom: 2vh;
  z-index: 9999;
}

#bar #back {
  text-decoration: none;
  outline: 0;
  font-size: 10vh;
}