<div id='homeLinks'>

  <a [routerLink]="['/dashboard']">dashboard</a>
  <a [routerLink]="['/statistics']">statistics</a>
  <a [routerLink]="['/history']">history</a>
  <a [routerLink]="['/tools']">tools</a>
  <a [routerLink]="['/settings']">settings</a>
  <a [routerLink]="['/help']">help</a>

  <img src='https://www.mhps.com/company/symbolmark/img/index_im01.png'>
</div>

History contains everything add the data that'll be streamed in.
 - Range starts at one month, but can be changed
 - Labels (from ME folder's calculation spreadsheet)
 - *Archived Data too*

Statistics - TBA

Dashboard should contain live data from (speed, ambient temperature, stuff like that)
 - Some sort of predictive model (gauge/graph)

Tools - has CO2 credit gauges
 - start estimation *total overall banking *divided by* CO2 emissions per level of start (how many starts it can have right now with the credit available)
 - degredation (PC calcs, base load compare it), calculatable

Settings - not going to bother until the rest is done

Help
 - Definitions and calculations